!!!
%html
  %head
    = render 'layouts/head'
  %body
    = render 'layouts/navigation'
    = render 'layouts/notifications'

    .container
      %div{ :id => 'js_mgnt', :data => { controller_name: controller.controller_name, controller_action: controller.action_name } }
      = yield
